.itemListContainer{
    padding-bottom: 30px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 2rem;
}
.categoriasContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}