*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
/* Modificación de Scroll */
::-webkit-scrollbar-corner {
    background: transparent;
}
  
::-webkit-scrollbar {
    width: 7px;
    height: 10 px;
}
  
::-webkit-scrollbar-thumb {
    background: #37076eba;
    border-radius: 50px;
}
body{
    background: #222327;
    color: #fff;
    
}
